<%- include("components/header.ejs") -%>
<div class="container text-center p-5">
<p class="text-center">
    <h1>Login Page</h1>

    <% if(message){ %>
        <% message %>
    <% } %>

</p>
<form action="/auth/login" method="post">
	
    <div class="form-group">
      <label for="email">Login</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter password" name="password">
    </div>
  
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <a href="/auth/register">Register Now</a>
</div>
  <%- include("components/footer.ejs") -%>